In [20]:
import mysql.connector as mariadb

In [21]:
con = mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="classicmodels"
)
print("Connecting to Mariadb database...")

Connecting to Mariadb database...

In [22]:
cur=con.cursor()
st= "SELECT productLine,COUNT(*)\
    FROM products\
    WHERE productLine='{}'"
cur.execute(st.format('Motorcycles'))

In [23]:
result=cur.fetchall()
print(result)
con.close()

[('Motorcycles', 13)]

now create a new database
we are not connecting to a specific database
strings can be passed directly into execute method

In [26]:
con = mariadb.connect(
    host="localhost",
    user="root",
    password="password"

)
print("Connecting to Mariadb database...")
cur=con.cursor()
st="CREATE DATABASE test_db"
cur.execute(st)
print("test_db created")
con.close()

Connecting to Mariadb database...
test_db created

create table to  test_db

In [27]:
con = mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db"

)
print("Connecting to Mariadb database...")
cur=con.cursor()
st="CREATE TABLE Registration\
    (id INTEGER,age INTEGER,\
    first VARCHAR(50),last VARCHAR(50))"
cur.execute(st)
print("Registration table  created")
con.close()

Connecting to Mariadb database...
Registration table  created

In [30]:
con = mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db"

)
print("Connecting to Mariadb database...")
cur=con.cursor()
st="INSERT INTO Registration \
    (id, age, first, last) VALUES \
    (100, 29, 'Michael', 'Jordan'), \
    (101, 29, 'Diego', 'Maradona'), \
    (102, 33, 'Babe', 'Ruth'), \
    (103, 40, 'Wayne', 'Gretzky'), \
    (104, 27, 'Michelle', 'Kwan'), \
    (105, 35, 'Steffi', 'Graf')"
cur.execute(st)
con.commit()
print("Values are inserted")   
con.close()

Connecting to Mariadb database...
Values are inserted

In [31]:
con = mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db"

)
print("Connecting to Mariadb database...")
cur=con.cursor()
st="UPDATE Registration\
    SET age=30 WHERE id IN (100,101)"
cur.execute(st)
con.commit()
print("Values are Updated")   
con.close()

Connecting to Mariadb database...
Values are Updated